*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    min-width: fit-content;
    font-family: 'JetBrains Mono';
}
/*NavBar*/
nav{
    background-color: rgb(32,34,27);
    height: 80px;
    width: 100%;
}
#logo{
    padding: 0 20px;
    width: auto;
    height: 100%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
nav ul li a:hover{
    background:rgb(233,65,0);
    transition: .5s;
}
.checkbtn{
    display: none;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 3px;
    cursor: pointer;
}
#check{
    display: none;
}
/*Home*/
.home__section{
    background-image: url("home-background.jpg");
    background-size: cover;
    height: 500px;
}
#home__a{
    background: rgb(233,65,0);
    border-radius: 3px;
    padding: 5px;
    width: fit-content;
    margin: auto;
}
.home__hero{
    padding-top: 50px;
    text-align: center;
    height: 100%;
    color: white;
    font-size: 2rem;
}
.home__hero h1, .home__hero p, #home__a{
    margin-top: 40px;
}
#home__a a{
    color: white;
}
#home__a:hover{
    transform: translate(0, -10px);
    transition: .5s;
}
.social__icons{
    height: fit-content;
    display: flex;
    flex-direction: column;
    float: left;
    padding: 10px;
    background-color: white;
    margin: 125px 0 0 10px;
    border: 2px solid;
    border-radius: 10px;
    border-color: orange;
}
.social__icons a{
    color: black;
    font-size: 20px;
    padding: 5px;
    height: fit-content;
}
.social__icons a:hover{
    background-color: rgba(233,65,0,0.7);
    border-radius: 5px;
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(233,65,0);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .home__hero{
        font-size: 25px;
    }
}